// font-family
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;
//primary-colors
$primary-background: white;
$secondary-background: #f4f4f4;
$color-dark: #292929;
$color-gray: #757575;
$primary-color: rgb(0, 10, 245);
$primary-color-soft: rgba(78, 83, 241, 0.932);
$secondary-color: rgb(23, 133, 23);
$secondary-colo-hard: rgb(13, 90, 13);
$secondary-color-soft: rgb(32, 184, 32);
$form-valid-feedback-font-color: #388020 !default;
$form-invalid-feedback-font-color: #b32d2d !default;
// Breakpoints
$xs-min: 414px;
$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px; // main-wrapper 300px
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px; // main-wrapper 688px
$xl-min: 1200px;
$xl-max: 1439.98px;
$xxl-min: 1440px;
$xxl-max: 1535.98px;
